@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  height: 1000vh;
}
header {
  height: 80px;
  width: 100vw;
  background-color: black;
  display: grid;
  grid-template-columns: 170px 500px 170px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 10;
}
header > img {
  height: 35px;
  width: 170px;
}
header > a:nth-of-type(1) {
  margin-left: 30px;
}
.box1 {
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  grid-gap: 50px;
}
.box1 > a {
  text-decoration: none;
  color: white;
}
.box2 {
  margin-right: 13px;
  display: grid;
  grid-gap: 27px;
  grid-template-columns: repeat(4, 10px);
}
.box2 > a {
  transition: all 10s;
}
a:hover i {
  transform: rotateY(180deg);
}
.carousel-fade {
  height: 180vh;
}
.d-block {
  height: 180vh;
}
.carousel-caption > h1 {
  font-family: "Gruppo", serif;
  font-size: 80px;
  margin-top: -10px;
}
.carousel-fade {
  margin-bottom: -35px;
}
.box3 {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
}
.box4 {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(1, 450px);
}
.box4 > img {
  height: 385px;
  width: 350px;
  margin-top: 15px;
}
.ch1 {
  padding-top: 10px;
}
.ch1 > p {
  padding-right: 30px;
}
.ch1 > h1 {
  font-family: "Gruppo", serif;
  font-size: 50px;
}
.ch1 > p {
  color: grey;
}
.ch1 > img {
  margin-top: 50px;
}
.ch2 {
  display: grid;
  grid-template-rows: repeat(4);
  justify-items: start;
  padding-left: 20px;
  padding-right: 25px;
}
.ch2 > button {
  background-color: white;
  border: 1px solid black;
  color: black;
  width: 125px;
  height: 50px;
}
.ch2 > p {
  color: rgb(58, 57, 57);
  margin-top: -15px;
  font-size: 19px;
}
.box5 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  height: 200vh;
  width: 100vw;
  grid-gap: 0px;
  transition: all 1s;
  margin-top: -200vh;
}
.box6 {
  height: 200vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 50%);
  position: relative;
  top: 0px;
  z-index: 2;
  /* display: none; */
  transition: all 1s ease-in-out;
}
.box7 {
  height: 200vh;
  width: 100vw;
  transition: all 1s;
}
.ch3:nth-of-type(1):hover .ch4 {
  visibility: visible;
}
.ch3:nth-of-type(1):hover .ch5 {
  visibility: visible;
}
.ch3:nth-of-type(2):hover .ch4 {
  visibility: visible;
}
.ch3:nth-of-type(2):hover .ch5 {
  visibility: visible;
}
.ch3:nth-of-type(3):hover .ch4 {
  visibility: visible;
}
.ch3:nth-of-type(3):hover .ch5 {
  visibility: visible;
}
.ch3:nth-of-type(4):hover .ch4 {
  visibility: visible;
}
.ch3:nth-of-type(4):hover .ch5 {
  visibility: visible;
}
.ch3:nth-of-type(5):hover .ch4 {
  visibility: visible;
}
.ch3:nth-of-type(5):hover .ch5 {
  visibility: visible;
}
.ch3:nth-of-type(6):hover .ch4 {
  visibility: visible;
}
.ch3:nth-of-type(6):hover .ch5 {
  visibility: visible;
}
.ch3:nth-of-type(7):hover .ch4 {
  visibility: visible;
}
.ch3:nth-of-type(7):hover .ch5 {
  visibility: visible;
}
.ch3:nth-of-type(8):hover .ch4 {
  visibility: visible;
}
.ch3:nth-of-type(8):hover .ch5 {
  visibility: visible;
}
.item2 {
  grid-row: 1/2;
  grid-column: 1/2;
}
.item3 {
  grid-row: 1/2;
  grid-column: 2/3;
}
.item4 {
  grid-row: 1/2;
  grid-column: 3/4;
}
.item5 {
  grid-row: 1/2;
  grid-column: 4/5;
}
.item6 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.item7 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.item8 {
  grid-row: 2/3;
  grid-column: 3/4;
}
.item9 {
  grid-row: 2/3;
  grid-column: 4/5;
}
.ch > img {
  display: inline-block;
  height: 100vh;
  width: 100%;
}
.ch3 {
  height: 100vh;
  width: 100%;
}
.ch4 {
  width: 100%;
  height: 80%;
  box-shadow: 0px 120px rgba(49, 49, 49, 0.568);
  visibility: hidden;
}
.ch5 {
  width: 100%;
  height: 20%;
  display: grid;
  align-items: end;
  justify-items: center;
  color: white;
  visibility: hidden;
}
.box7 > .box6 > .ch3 {
  transition: all 1s;
}
.ch5 > h4 {
  margin-bottom: 25px;
}
.box8 {
  height: 130vh;
  width: 100vw;
  display: grid;
  align-content: center;
  justify-content: center;
}
.box9 {
  height: 120vh;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(5, 20%);
}
.ch6 {
  grid-row: span 1;
  display: grid;
  align-items: center;
  justify-items: start;
  font-family: "Gruppo", serif;
}
.ch7 {
  grid-row: span 4;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(1, 100%);
  grid-gap: 30px;
}
.chf > h1 {
  font-family: "Gruppo", serif;
  font-size: 30px;
  margin-top: -60px;
}
.chf > p {
  margin-top: -90px;
  color: grey;
}
.chf {
  display: grid;
  justify-items: start;
}
.chf > img {
  width: 100%;
}
.box10 {
  background-color: black;
  color: white;
  display: grid;
  padding-bottom: 150px;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.box10 > p {
  text-align: center;
}
.bux1 {
  height: 100vw;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(1, 80%);
  grid-template-rows: 100px 560px;
  align-content: center;
  justify-content: center;
}
.d {
  display: grid;
  align-content: center;
  justify-content: center;
}
.e {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: 560px;
  grid-gap: 80px;
}
.a {
  border: 1px solid grey;
}
.b {
  display: grid;
  justify-items: center;
  box-shadow: 0px 1px grey;
}
.b > p:nth-of-type(1) {
  background-color: black;
  color: white;
  height: 30px;
  width: 120px;
  text-align: center;
  border-radius: 50px;
  margin-top: 15px;
}
.b > p:nth-of-type(2) {
  font-size: 30px;
}
.c {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 438px;
  padding-top: 50px;
}
.c > p {
  color: gray;
}
.c > button {
  height: 40px;
  width: 80%;
  background-color: white;
  border: 1px solid black;
  color: black;
  text-align: center;
  margin-top: 90px;
}
.c:hover button {
  background-color: black;
  color: white;
  border: 1px solid white;
}
footer {
  height: 100vh;
  width: 100vw;
  background-color: rgb(41, 40, 40);
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 80% 20%;
  align-content: center;
  justify-content: center;
}
.bux2 {
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 100%;
  color: white;
  transition: all 1s;
  padding-top: 100px;
}
.la {
  padding-right: 80px;
}
.la > p {
  margin-top: 50px;
  margin-bottom: 50px;
  color: grey;
}
.la > a {
  margin-left: 5px;
  margin-right: 5px;
}
.li {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100%;
}
.ki > p {
  margin-top: 30px;
  color: grey;
}
.ka > p {
  margin-top: 40px;
  color: grey;
}
.lu {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
form > input {
  height: 40px;
  width: 80%;
  background-color: grey;
  border: none;
  margin-top: 20px;
  text-align: center;
}
form > button {
  height: 40px;
  width: 80%;
  background-color: rgb(41, 40, 40);
  border: 1px solid white;
  color: white;
  margin-top: 10px;
}
.bux3 {
  display: grid;
  align-content: center;
  justify-content: center;
  color: white;
}
